body{
    background-color: silver;
}
#blog{
    margin: 20px auto 20px auto;
    max-width: 90%;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
}
.kommentdoboz{
    margin: 20px auto 20px auto;
    max-width: 90%;
    background-color: #f8f9fa;
    border-radius: 10px;
}
.doboz{
  
    margin-top: 5px;
    margin:auto;
    opacity: 0.9;
    max-width: 90%;
 
}
.logout{
    display: none;
}
.logout:hover{
    cursor: pointer;
}

.kihagy{
    color:#f8f9fa ;
}

.szovegmezo{
    min-width: 90%;
    max-width: 90%;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
}
.gomb{
    margin-left: 20px;
    padding-bottom: 10px;
    display: block;
}
.bejegyir{
    padding: 20px 20px 0 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 800px;
    margin: auto;
    grid-template-areas: 
    "fejlec"
    "tartalom"
    "lablec"
    ;
   
    margin-top: 50px;

}
.col{
    background-color:#37b6ff;
    
    
}
.fejlec{
grid-area: fejlec;
background-image: url('../img/headimage.png');
background-position: center;
background-repeat: no-repeat;
background-color: #37b6ff;
height: 344px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;

}

.tartalom{
grid-area: tartalom;



}
form{
    margin-left: 37%;
}
.lablec{
grid-area: lablec;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

